@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom variables */
:root {
    /* ### Primary */
    --cl-Orange: hsl(26, 100%, 55%);
    --cl-Pale-orange: hsl(25, 100%, 94%);
    /* ### Neutral */
    --cl-Very-dark-blue: hsl(220, 13%, 13%);
    --cl-Dark-grayish-blue: hsl(219, 9%, 45%);
    --cl-Grayish-blue: hsl(220, 14%, 75%);
    --cl-Light-grayish-blue: hsl(223, 64%, 98%);
    --cl-White: hsl(0, 0%, 100%);

    /* with 75% opacity for lightbox background */
    --cl-Black: hsl(0, 0%, 0%);
}

/* global css */
body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

/* navbar */
.card-modal {
    width: 22rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.324);

}

/* header */
.slide-btn {
    padding: .8rem .95rem;
}

.addToCard-btn {
    box-shadow: 0 1rem 3rem hsla(26, 100%, 55%, 0.363);
}

.slider-container {
    height: 350px;
    overflow: hidden;
}

/* sidebar */
.sidebar {
    visibility: hidden;
    transition: all 200ms ease-in-out;
}

.show-sidebar {
    visibility: visible;
}

.sidebar-content {
    transform: translateX(-100%);
    transition: all 300ms ease-in-out;
}

.show-sidebar-content {
    transform: translateX(0%);
}